torch>=2.1.0
pytorch-lightning>=2.1.0
pykeen>=1.10.1
shap>=0.43.0
networkx>=3.2
plotly>=5.18.0
xgboost>=2.0.0
scikit-learn>=1.3.0
numpy>=1.24.0
pandas>=2.1.0
scipy>=1.11.0
matplotlib>=3.8.0
seaborn>=0.13.0
pyarrow>=14.0.0
kaleido>=0.2.1
tqdm
joblib
